<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title> analyticsoverflow - tracking the activity on stackoverflow.com </title>

<meta http-equiv="REFRESH" content="300">
<meta name='viewport' content='width=device-width, initial-scale=1.0' />

<script src='/js/mootools-core-full-compat-yc.js' type='text/javascript'></script>
<script src='/js/countdown.js?v=<%= settings.version %>' type='text/javascript'></script>

<script type='text/javascript'>
	var SoUi = {
		tags_visible: false,
		
		init: function() {
		},
		
		
		show_tags: function() {
			$$('.so-tag-list a.hidden').removeClass('hidden');
		},

	}
</script>

<script type='text/javascript'>
	var _rate_data = <%== count_data.to_json %>;
</script>

<%== yield_content :header %>

<link rel="stylesheet" href="/css/default.css?v=<%= settings.version %>" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/so-count.css?v=<%= settings.version %>" type="text/css" media="screen, projection">

</head>

<body onload='SoUi.init();'>

<div class="wrapper">

<div class='so-header'>
	<div class='left'>
		<div class='so-site-select'>
			site: 
		<% site_list.each_with_index do |site_item, i| %>
			<% if site_item == cur_site %>
				<span><%= site_item %></span>
			<% else %>
				<a href='/<%= site_item %>/'><%= site_item %></a>
			<% end %>
			
			<% if i != site_list.length-1 %>
				<%= ' | ' %>
			<% end %>

		<% end %>
			
		</div>
		
		<div class='so-title'>
			<a href='/'>analytics<b>overflow</b></a>

			<%== so_tag != settings.all_tag ? "/ <span style='color:gray'>#{so_tag_display}</span>" : '' %>
		</div>
	</div>
	
	<div class='so-tag-list'>
		view by tag: 
		
		<a href='/<%= cur_site %>/'>all</a>

		<% popular_tags.each_with_index do |tag, i| %>
			<%== tag.link_html :css_class => (i > 5 ? 'hidden' : '') %>		
		<% end %>
		
		<a id='so-st-link' href="javascript:SoUi.show_tags();"><i>more...</i></a>
	</div>
	
	<div class='clear'></div>
</div>

<div class='so-body'>

<%== yield_content :body %>

</div>

<div class="push"></div>
</div>

<div class="footer">

<div class='so-sub-title'>
	<p>data updated from <a href='http://stackoverflow.com'>stackoverflow.com</a> <%= to_human_time(count_data[0]['age']) %> minutes ago </p>
	<p><a href='http://twitter.com/reednj'>Nathan Reed</a> (c) 2010 </p>
	<p><a href='http://github.com/reednj/stackoverflow-counter'>source code</a> is on <a href='http://github.com'>github.com</a></p>
</div>

</div>


</body>
</html>
