
<% content_for :header do %>

<script type='text/javascript'>
	var _rate_data = <%== count_data.to_json %>;
</script>

<% end %>

<% content_for :body do %>

<div class='so-counter-list'>
	
	<% if so_tag == settings.all_tag %>
	<div class='so-counter-block'>
		<div id='<%= cur_site %>-comment-count' class='so-counter'> ... </div>
		<div class='so-label'> comments <span class='so-rate'><%= to_hourly(count_data[2]) %></span> </div>
	</div>

	<div class='so-counter-block'>
		<div id='<%= cur_site %>-answer-count' class='so-counter'>... </div>
		<div class='so-label'> answers <span class='so-rate'><%= to_hourly(count_data[1]) %></span> </div>
	</div>
	
	<div class='so-counter-block'>
		<div id='<%= cur_site %>-question-count' class='so-counter'> ... </div>
		<div class='so-label'> questions <span class='so-rate'><%= to_hourly(count_data[0]) %></span> </div>
	</div>
	
	<% else %>

	<div class='so-counter-block right'>
		<div id='<%= question_count_tag %>' class='so-counter'> ... </div>
		<div class='so-label'> <%= tag_type %> <span class='so-rate'><%= to_daily(count_data[0]) %></span> </div>
	</div>
	
	<% end %>

	<div class='clear'></div>
</div>

<div class="so-years">
	
<% (2010..Time.now.year).to_a.reverse.each do |year| %>
	<div class='so-year-tag'>
		<h2><%= year %></h2>
		<table>
		<tbody>
		<% (yearly_tag_data[year.to_s.to_sym] || []).first(8).each_with_index do |tag, i| %>
			<tr>
				<td class='td-list-index'><%= i + 1 %>.</td>
				<td class='td-desc'><%= tag[:description] %></td>
				<td class='td-count'><%= (tag[:tag_value_delta] / 1000).round(1) %>k</td>
			</tr>
		<% end %>
		</tbody>
		</table>
	</div>
<% end %>

<div class='clear'></div>
</div>
<% end %>
