
<% content_for :header do %>

<script type='text/javascript'>
	var _rate_data = <%== count_data.to_json %>;
</script>

<% end %>

<% content_for :body do %>

<div class='so-counter-list'>
	
	<% if so_tag == settings.all_tag %>
	<div class='so-counter-block'>
		<div id='<%= cur_site %>-comment-count' class='so-counter'> ... </div>
		<div class='so-label'> comments <span class='so-rate'><%= to_hourly(count_data[2]) %></span> </div>
	</div>

	<div class='so-counter-block'>
		<div id='<%= cur_site %>-answer-count' class='so-counter'>... </div>
		<div class='so-label'> answers <span class='so-rate'><%= to_hourly(count_data[1]) %></span> </div>
	</div>
	
	<div class='so-counter-block'>
		<div id='<%= cur_site %>-question-count' class='so-counter'> ... </div>
		<div class='so-label'> questions <span class='so-rate'><%= to_hourly(count_data[0]) %></span> </div>
	</div>
	
	<% else %>

	<div class='so-counter-block right'>
		<div id='<%= question_count_tag %>' class='so-counter'> ... </div>
		<div class='so-label'> <%= tag_type %> <span class='so-rate'><%= to_daily(count_data[0]) %></span> </div>
	</div>
	
	<% end %>

	<div class='clear'></div>
</div>

<% if so_tag == settings.all_tag %>
	<div>
		<pre><%== yearly_tag_data[:'2010'].to_yaml %></pre>
	</div>
<% end %>

<% end %>
